/* MAIN */

#user-header {
    position: relative;
    margin: 0 auto;
    margin-top: 100px;

    display: grid;
    grid-template-columns: 1fr 2fr;

    width: 800px;
}

/* LEFT */

#user-header > img {
    width: 170px;
    border-radius: 50%;
    margin-left: -40px;
}

/* RIGHT */

#user-header > div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: -43px;
}

/* RIGHT TOP */

#user-header-top {
    display: flex;
    width: 500px;
    margin-left: 15px;
    margin-top: -20px;
}

#user-header-top > h1 {
    font-weight: 300;
    margin-right: 20px;
}

#user-header-top > span > button {
    position: relative;
    bottom: 4px;
    font-size: 16px;
    font-weight: 600;
    height: 35px;
    padding: 5px 9px;
    border-radius: 4px;
    margin-top: 30px;
    margin-right: 20px;
    border: 1px solid #dbdbdb;
    background-color: transparent;
}

#user-header-top > span > i {
    font-size: 25px;
    cursor: pointer;
    margin-top: 35px;
}

div > #user-header > div > #user-header-top > span > button.not-my-profile {
    background-color: #0095F6;
    color: white;
}

/* RIGHT MIDDLE */

#user-header-middle {
    display: flex;
    margin-left: 17px;
    margin-top: -17px;
}

#user-header-middle > p {
    font-size: 19px;
    font-weight: 500;
    margin-right: 40px;
}

#user-header-middle > p > b {
    color: #262626;
}

/* RIGHT BOTTOM */

#user-header-bottom {
    margin-top: -38px;
    margin-left: 17px;
}

#user-header-bottom > p {
    font-size: 19px;
    margin-bottom: -5px;
}

#user-header-bottom > p > b {
    color: #262626;
}

#user-header-bottom > a {
    font-weight: 600;
    font-size: 19px;
    color: #00376b;
}

#user-header-bottom > #followed-by {
    color: #8E8E8E;
    font-weight: 500;
    font-size: 14px;
}

/* GALLERY UL */

#gallery-ul {
    width: 1000px;
    height: 53px;

    position: relative;
    margin: 65px auto;

    border-top: 1px solid #dbdbdb;

    display: flex;
    justify-content: center;
}

#gallery-ul > a {
    margin: 0 32px;
    font-weight: 500;
    color: #8E8E8E;
    width: 75px;
    height: 35px;
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
}

#gallery-ul > a > i {
    color: #8E8E8E;
}

#gallery-ul > a.selected {
    border-top: 1.5px solid #262626;
    color: #262626;
}

#gallery-ul > a.selected > i {
    color: #262626;
}
