/* TODO Add site wide styles */
body {
    background-color: #fafafa;
}

* {
    /* 300, 400, 500, 600 */
    font-family: proxima-nova, sans-serif;
    color: #262626;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul > li {
    margin-left: -40px;
}

button {
    cursor: pointer;
}

b {
    font-weight: 600;
    color: #8E8E8E;
}
