/* TODO Add site wide styles */
body {
    background-color: #fafafa;
}

* {
    /* 300, 400, 500, 600 */
    font-family: proxima-nova, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul > li {
    margin-left: -40px;
}

button {
    cursor: pointer;
}
