#navbar {
    position: fixed;
    width: 100%;
    height: 40px;
    top: -30px;
    left: 0;
    background-color: white;
    height: 80px;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
}

/* NOT LOGGED IN */

#navbar > li {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#logo-home {
    position: relative;
    top: 15px;
    right: 240px;

    width: 120px;
}

#navbar > li > a > img {
    width: 100%;
}

#navbar > li > input {
    position: relative;
    top: 20px;
    left: 10px;

    border-radius: 10px;
    background-color: #EFEFEF;
    border: none;
    outline: none;
    padding: 5px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 300;
    width: 275px;
    height: 35px;
}

#demo {
    position: relative;
    left: 240px;
    top: 28px;

    background-color: #0095F6;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: 600;
    height: 30px;
}

#a-login {
    position: relative;
    left: 250px;
    top: 25px;

    color: #0095F6;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: 600;
}

#a-signup {
    position: relative;
    top: 30px;
    left: 260px;

    color: #0095F6;
    font-weight: 600;
}

/* LOGGED IN */

#user-button {
    position: relative;
    top: 23px;
    left: 200px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

#user-button > img {
    width: 147%;
    margin-left: -7px;
    margin-top: -1.5px;
    border-radius: 50%;
}

.fa-home, .fa-comment-dots, .fa-plus-square, .fa-compass, .nav-heart {
    position: relative;
    top: 30px;
    font-size: 30px;
    cursor: pointer;
}

.fa-home {
    left: 100px;
}

.fa-comment-dots {
    left: 120px;
}

.fa-plus-square {
    left: 140px;
}

.fa-compass {
    left: 160px;
}

.nav-heart {
    left: 180px;
}

.profile-dropdown {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
    position: absolute;
    top: 75px;
    margin-left: 800px;
    margin-right: 0px;
    width: 215px;
}

.profile-dropdown > li, .profile-dropdown > a {
    display: flex;
    height: 40px;
    cursor: pointer;
}

.profile-dropdown > li:hover, .profile-dropdown > a:hover {
   background-color: #fafafa;
}

.profile-dropdown > li > i {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 15px;
}

.profile-dropdown > a > i {
    margin-top: 10px;
    font-size: 18px;
    margin-left: -25px;
}

.profile-dropdown > li > p {
    margin-left: 15px;
    margin-top: 6px;
}

.profile-dropdown > a > p {
    margin-left: 16px;
    margin-top: 6px;
}

.fa-bookmark {
    margin-right: 5px;
}

.profile-dropdown > li > button {
    width: 100%;
    text-align: left;
    font-size: 16px;
    border: none;
    border-top: 1.5px solid #dbdbdb;
    background-color: transparent;
}

.profile-dropdown > li > button > p {
    margin-left: 10px;
    margin-top: 5px
}
